.idea/modules.xml
.idea/High-school.iml
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
Contest Problems/Python/test.py
Hackerrank/.vscode/launch.json
.vscode/settings.json
Hackerrank/.vscode/settings.json
